# API URL for Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:8005

# Backend DB Config
DB_USER=postgres
DB_PASS=postgres
DB_HOST=localhost
DB_PORT=5433
DB_NAME=shield_db

# Security
ENCRYPTION_MASTER_KEY=7c9e13512cde8c55464b13512cde8c55464b13512cde8c55
JWT_SECRET=supersecret_change_me_in_prod

# Redis
REDIS_HOST=localhost
REDIS_PORT=6380
